<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>

    <form action="/register", method="post">
        <div>
            <label>Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label>Mobile</label>
            <input type="number" name="mobile" id="mobile">
        </div>
        <div>
            <input type="submit" value="Register" >
        </div>
    </form>
</body>
</html>